# Ignore CICIDS dataset
data/CICIDS2017/
data/CICIDS2017.zip
data/CICIDS2017/ 
data\CICIDS2017
data\processed
venv_sentinel/
venv/
"venv_sentinel/" 
"data/processed/cicids2017/X_selected.pkl" 
"data/processed/cicids2017/X_selected.pkl" 
